<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414904832938-31co096tlo42k0p3sbgh54ndfuklsest.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414904832938-31co096tlo42k0p3sbgh54ndfuklsest</string>
	<key>API_KEY</key>
	<string>AIzaSyDhdDBssbhx0YYwJNvbeYNqcCIf-cMMg0I</string>
	<key>GCM_SENDER_ID</key>
	<string>414904832938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riobrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-app-66f42</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-app-66f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414904832938:ios:01db2ec248dc6ecd3311d3</string>
</dict>
</plist>